<footer id="footer" style="display:none;">
				<div class="inner">
					<ul class="contact list-style: none;">
						<li>Grupo VERSE</li>
						<br>
						<li>Paseo Jose Martí 512, 2do. Piso. Fracc. Reforma</li>
						<br>
						<li style="list-style: none;">Veracruz, Ver. México</li>
						<br>
						<li>+52 1 55 50 74 21 21</li>
					</ul>
					<ul class="icons">
						<li>
							<a href="http://facebook.com/tabuniversity" target="_blank">
								<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/tabuniversity/videos/2230864620470996/" target="_blank">
								<i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="http://instagram.com/tabuniversity" target="_blank">
								<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
							</a>
						</li>						
					</ul>
					<p class="copyright">© TAB University. Todos los derechos reservados.</p>
				</div>
			</footer>